html, body {
  width:100%;
  height:100%;
}
@font-face {
  font-family:'BebasNeueRegular';
  src:url('/fonts/BebasNeue/BebasNeue-webfont.eot');
  src:url('/fonts/BebasNeue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/BebasNeue/BebasNeue-webfont.woff') format('woff'), url('/fonts/BebasNeue/BebasNeue-webfont.ttf') format('truetype'), url('/fonts/BebasNeue/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'BallparkWeiner';
  src:url('/fonts/Ballpark/ballpark_weiner-webfont.eot');
  src:url('/fonts/Ballpark/ballpark_weiner-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Ballpark/ballpark_weiner-webfont.woff') format('woff'), url('/fonts/Ballpark/ballpark_weiner-webfont.ttf') format('truetype'), url('/fonts/Ballpark/ballpark_weiner-webfont.svg#BallparkWeiner') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'DopeScript';
  src:url('/fonts/DopeScript/dopescript-webfont.eot');
  src:url('/fonts/DopeScript/dopescript-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/DopeScript/dopescript-webfont.woff') format('woff'), url('/fonts/DopeScript/dopescript-webfont.ttf') format('truetype'), url('/fonts/DopeScript/dopescript-webfont.svg#DopeScript') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'Ginga';
  src:url('/fonts/Ginga/ginga-webfont.eot');
  src:url('/fonts/Ginga/ginga-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Ginga/ginga-webfont.woff') format('woff'), url('/fonts/Ginga/ginga-webfont.ttf') format('truetype'), url('/fonts/Ginga/ginga-webfont.svg#Ginga') format('svg');
  font-weight:normal;
  font-style:normal;
}
.floatLeft { float:left; }
.alignleft { float:left; }
.floatRight { float:right; }
.alignright { float:right; }
body, html { background-color:#292929; }
body {
  font-size:1.6em;
  font-family:Georgia;
  line-height:inherit;
  color:#292929;
}
a {
  background:#292929;
  color:#de7a33;
}
a:hover {
  background:#de7a33;
  color:#292929;
}
h1, h2, h3, h4, h5, h6 { font-family:BebasNeueRegular; }
blockquote {
  border-left:0.1rem solid #999999;
  color:#ffffff;
}
blockquote p { color:#ffffff; }
input[type="text"], textarea {
  background:rgba(0,0,0,0.5);
  border:1px solid rgba(0,0,0,0.5);
  color:#d9d9d9;
  outline:none;
}
input[type="text"]:focus, textarea:focus {
  background:rgba(0,0,0,0.5);
  border:1px solid #de7a33;
}
input[type="submit"] {
  background:#de7a33;
  border:1px solid #292929;
}
input[type="submit"]:hover { outline:1px solid #292929; }
input[type="submit"]:focus, input[type="submit"]:active { outline:2px solid #292929; }
textarea {
  width:100% !important;
  margin-top:0 !important;
}
#contentContainer {
  background-image:url('/images/top.png'), url('/images/bottom.png'), url('/images/pattern.jpg');
  background-repeat:no-repeat, no-repeat, repeat;
  background-position:left top, left bottom, left top;
  background-size:contain, contain, contain;
  z-index:0;
}
.sectionContainer {
  width:100%;
  position:relative;
  padding-top:5rem;
  overflow:visible;
}
.sectionContainer:first-child, .sectionContainer:nth-child(2) {
  margin-top:0;
  padding-top:0;
}
.headline {
  font-size:6rem;
  font-family:BebasNeueRegular, Arial Black;
}
.headline .emphasized {
  font-family:Ginga, Georgia;
  font-weight:bold;
  color:#de7a33;
  text-shadow:none;
  display:block;
  margin-top:-3.0rem;
  -webkit-transform:rotate(-2deg);
  -moz-transform:rotate(-2deg);
  -o-transform:rotate(-2deg);
  -ms-transform:rotate(-2deg);
  line-height:4rem;
  font-size:30rem;
}
#wpstats { display:none; }
table {
  background:rgba(0,0,0,0.5);
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  margin:0 0 18px;
  border:1px solid #111111;
}
table thead, table tfoot { background:rgba(0,0,0,0.5); }
table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
  font-size:12px;
  line-height:18px;
  text-align:left;
}
table thead tr th, table tfoot tr td {
  padding:8px 10px 9px;
  font-size:14px;
  font-weight:bold;
  color:inherit;
}
table thead tr th:first-child, table tfoot tr td:first-child { border-left:none; }
table thead tr th:last-child, table tfoot tr td:last-child { border-right:none; }
table tbody tr.even, table tbody tr.alt { background:rgba(0,0,0,0.3); }
table tbody tr:nth-child(even) { background:rgba(0,0,0,0.3); }
table tbody tr td {
  color:#d9d9d9;
  padding:9px 10px;
  vertical-align:top;
  border:none;
}
table {
  background:rgba(0,0,0,0.5);
  table-layout:fixed;
  border:1px solid #111111;
}
table th, table td { border:1px solid #111111; }
table .alt { background:rgba(0,0,0,0.3); }
table #subtotalw { background:rgba(0,0,0,0.5); }
table thead, table tfoot { background:rgba(0,0,0,0.5); }
table .leftb { overflow:hidden; }
abbr {
  border-bottom:1px solid #111111;
  color:inherit;
}
.widget .cartlink, .widget .checkoutlink { margin-right:10px; }
.widget #cartItemw { overflow:hidden; }
#home {
  background:rgba(0,0,0,0);
  z-index:2;
  padding-bottom:1.0rem;
  padding-top:1.5rem;
}
#home .headline { font-size:6rem; }
#home .headline .emphasized {
  font-size:12rem;
  color:#fff5ed;
  line-height:11rem;
}
#home #logo a { background:none; }
#home #logo a:hover { background:none; }
#home #logo img { width:100%; }
#menu {
  background:rgba(0,0,0,0.9);
  box-shadow:0rem .6rem .8rem 0rem rgba(0,0,0,0.3);
  -moz-box-shadow:0rem .6rem .8rem 0rem rgba(0,0,0,0.3);
  -webkit-box-shadow:0rem .6rem .8rem 0rem rgba(0,0,0,0.3);
  z-index:4;
}
#menu #menu-navigation li:first-child { display:none; }
#menu .nav-bar {
  border:none;
  background:none;
  margin-top:0;
  margin-bottom:0;
}
#menu .nav-bar li {
  color:#4f4f4f;
  background:none;
}
#menu .nav-bar li a {
  color:inherit;
  background:none;
}
#menu .nav-bar li:hover {
  color:#de7a33;
  background:#292929;
}
#menu .nav-bar > li {
  border:none;
  padding-top:0.4rem;
}
#menu .nav-bar > li a {
  font-size:2.0rem;
  font-weight:bold;
  font-family:BebasNeueRegular, Arial;
  padding-right:2.0rem;
}
#menu .nav-bar > li .flyout-toggle {
  padding:0rem;
  top:2.2rem;
  right:1.0rem;
}
#menu .nav-bar > li .flyout-toggle > span { border-top-color:#313131; }
#menu .nav-bar > li:hover .flyout-toggle >span { border-top-color:#2a85e8; }
#menu .nav-bar .flyout {
  background:rgba(0,0,0,0.9);
  color:#de7a33;
}
#menu .nav-bar .flyout h3, #menu .nav-bar .flyout h4, #menu .nav-bar .flyout h5, #menu .nav-bar .flyout h6, #menu .nav-bar .flyout h1, #menu .nav-bar .flyout h2 { color:#de7a33; }
.galleryImageView {
  width:100%;
  height:41.0rem;
  background:#000000;
  overflow:hidden;
}
.galleryContainer { overflow:auto; }
.gallery-item { float:left; }
#wpContent article {
  color:#d9d9d9;
  background:rgba(0,0,0,0.4);
  padding:10px;
  margin-bottom:3.0rem;
}
#wpContent article .entryBody {
  margin-top:2.0rem;
  margin-bottom:2.0rem;
}
#wpContent article .entryBody .gce-page-grid .gce-calendar .gce-caption {
  font-size:2.5rem;
  font-family:BebasNeueRegular;
  font-weight:bold;
  color:#de7a33;
  background:#292929;
}
#wpContent article .entryBody .gce-page-grid .gce-calendar .gce-has-events { color:#de7a33; }
#wpContent article .entryBody .gce-page-grid .gce-calendar .gce-today { background:rgba(0,0,0,0.8); }
#wpContent article .entryBody .gce-list .gce-list-event {
  font-weight:bold;
  font-family:BebasNeueRegular;
  font-size:1.2em;
  background:none;
}
#wpContent article .entryBody .gce-list .gce-list-title {
  font-weight:bold;
  font-family:BebasNeueRegular;
  font-size:3.5rem;
  margin-bottom:0.9rem;
  color:#181818;
  text-decoration:underline;
  line-height:1.25;
}
#wpContent article .entryBody .gce-list > li:nth-child(even) {
  background:rgba(0,0,0,0.3);
  outline:1.0rem solid rgba(0,0,0,0.3);
}
#wpContent article .entryBody .gce-list > li:nth-child(even) >ul>li:nth-child(even) { background:rgba(0,0,0,0.3); }
#wpContent article .entryBody .gce-list > li:nth-child(odd) > ul > li:nth-child(even) { background:rgba(0,0,0,0.15); }
#wpContent article #respond, #wpContent article #comments { margin-top:20px; }
#wpContent article #respond .commentlist, #wpContent article #comments .commentlist {
  list-style:none;
  margin-left:15.55%;
  width:84.55%;
}
#wpContent article #respond .commentlist .avatar, #wpContent article #comments .commentlist .avatar {
  left:-102px;
  padding:0;
  position:absolute;
  top:0;
}
#wpContent article #respond .commentlist article.comment, #wpContent article #comments .commentlist article.comment { position:relative; }
#wpContent article #respond .commentlist article.comment .reply, #wpContent article #respond .commentlist article.comment .edit, #wpContent article #comments .commentlist article.comment .reply, #wpContent article #comments .commentlist article.comment .edit { display:inline; }
#wpContent article #respond .commentlist article.comment .edit, #wpContent article #comments .commentlist article.comment .edit { margin-left:5px; }
#wpContent article #respond .commentlist .comment-content, #wpContent article #comments .commentlist .comment-content {
  margin-top:10px;
  padding-left:10px;
  border-left:0.1rem solid #999999;
}
#wpContent article #respond .form-submit input, #wpContent article #comments .form-submit input { float:right; }
#wpContent article #respond .comment-subscription-form, #wpContent article #comments .comment-subscription-form { margin:0; }
#wpContent article #respond .comment-subscription-form label, #wpContent article #comments .comment-subscription-form label { display:inline; }
#wpContent #sidebar aside.widget {
  background:rgba(0,0,0,0.4);
  margin-bottom:4.0rem;
}
#wpContent #sidebar aside.widget .content {
  padding:1.0rem;
  color:#d9d9d9;
  overflow:hidden;
}
#wpContent #sidebar aside.widget .content .gce-widget-grid .gce-calendar .gce-caption {
  font-size:1.5rem;
  font-family:BebasNeueRegular;
  font-weight:bold;
  color:#de7a33;
  background:#292929;
}
#wpContent #sidebar aside.widget .content .gce-widget-grid .gce-calendar .gce-has-events { color:#de7a33; }
#wpContent #sidebar aside.widget .content .gce-widget-grid .gce-calendar .gce-today { background:rgba(0,0,0,0.8); }
#wpContent #sidebar aside.widget .textwidget img { padding-bottom:0.5rem; }
#wpContent #sidebar aside.widget .textwidget img.alignleft { padding-right:1.0rem; }
#wpContent #sidebar aside.widget .textwidget img.alignright { padding-left:1.0rem; }
#wpContent #sidebar aside.widget #widgetFaceChris {
  float:left;
  margin-right:10px;
}
#wpContent #sidebar aside.widget #widgetFaceChris .face_container {
  width:55px;
  height:55px;
}
#wpContent #sidebar aside.widget .ngg-widget a img {
  border:none;
  margin:0;
  padding:0;
}
#wpContent #sidebar aside.widget_facebook_likebox iframe { width:100% !important; }
.gce-event-info .gce-tooltip-event { font-family:BebasNeueRegular; }
#about { margin-top:0rem; }
#about .headline .emphasized {
  left:-6.0rem;
  position:relative;
}
#success .face_container { cursor:pointer; }
#flyInBox {
  z-index:4;
  position:fixed;
  top:0rem;
  background:rgba(0,0,0,0.9);
  margin-top:0rem;
  color:#999999;
  left:-10000rem;
  display:none;
}
#flyInBox .container {
  max-width:980px;
  margin:auto;
  height:100%;
}
#flyInBox .container .row { height:100%; }
#flyInBox .container .row .content {
  display:none;
  height:80%;
  overflow:auto;
}
#flyInBox .container .row .content img { padding:1.0rem; }
#flyInBox h1, #flyInBox h2, #flyInBox h3, #flyInBox h4, #flyInBox h5, #flyInBox h6 { color:#fff5ed; }
#flyInBox .closeButton {
  width:5.0rem;
  height:5.0rem;
  float:right;
  cursor:pointer;
}
.contentForFlyInBox { display:none; }
#footer {
  background:rgba(0,0,0,0.9);
  box-shadow:0rem .6rem .8rem 0rem rgba(0,0,0,0.3);
  -moz-box-shadow:0rem .6rem .8rem 0rem rgba(0,0,0,0.3);
  -webkit-box-shadow:0rem .6rem .8rem 0rem rgba(0,0,0,0.3);
  color:#d9d9d9;
  z-index:2;
  padding:10px 0 0 0;
}
#footer span.left { float:left; }
#footer span.right { float:right; }
#footer .nav-bar {
  background:none;
  margin-top:0;
  border:none;
}
#footer .nav-bar .menu-item {
  border-right:none;
  line-height:inherit;
}
#footer .nav-bar .menu-item a.main {
  font-size:inherit;
  padding:0 0.6rem;
}
#footer .nav-bar .menu-item .flyout-toggle > span {
  border-top:none;
  border-bottom:4px solid #313131;
}
#footer .nav-bar .menu-item.has-flyout >a.main:first-child { padding-right:2.0rem; }
#footer .nav-bar .menu-item.has-flyout a.main.flyout-toggle {
  padding:7px;
  background:none;
}
#footer .nav-bar .menu-item.has-flyout a.main.flyout-toggle:hover { background:none; }
#footer .nav-bar .menu-item.has-flyout a.main.flyout-toggle:hover > span { border-bottom-color:#2a85e8; }
#footer .nav-bar .menu-item.has-flyout a.main.flyout-toggle > span {
  border-top:none;
  border-bottom-color:#313131;
}
#footer .nav-bar .menu-item.has-flyout .flyout {
  bottom:1.8rem;
  top:auto;
  background:rgba(0,0,0,0.9);
}
#footer #joePea {
  cursor:pointer;
  display:inline-block;
}
#footer #joePea .face_container {
  width:2.0rem;
  height:2.0rem;
}
